/*pc端新闻*/
.news-list {
    width: 526px;
    margin-left: 50px;
}
.news-list .tab-links {
    font-size: 0;
    border-bottom: 1px solid #d9eaf3;
    position: relative;
}
.news-list .tab-links .more-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(http://www.wgzy69.com/static/assets/pc/image/95aed42567038e9a8fded1b209ff840.png) no-repeat;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    border: none;
}
.news-list .tab-links .more-btn:hover {
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.news-list .tab-links .tab-link {
    font-size: 24px;
    width: 81px;
    text-align: center;
    display: inline-block;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.news-list .tab-links .tab-link.active,
.news-list .tab-links .tab-link:hover {
    border-bottom: 3px solid #3479ab;
    color: #3479ab;
}
.news-list .tab {           
    margin-top: 20px;
}
.news-list .tab li {
    height: 31px;
    line-height: 31px;
    margin-bottom: 18px;
}
.news-list .tab li a .t {
    width: 350px;
    margin-right: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.news-list .tab li a .date {
    color: #a5a5a5;
}
.news-list .tab li a .category {
    width: 81px;
    height: 31px;
    display: inline-block;
    text-align: center;
    color: #3479ab;
    margin-right: 23px;
    vertical-align: middle;
}
.news-list .tab li a:hover {
    color: #3479ab;
}
.news-list .tab li a:hover .category {
    color: #fff;
    width:81px;
    height:31px;
    background-color: #3479ab;
    border-radius: 20px;
}
@media screen and (min-width:768px) and (max-width:1366px){
    
}